html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
ins {
    background-color:#fff;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#fff;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/*--------------------------------*/
/*--------------ここから書く------------------*/

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body {
    align-items: center;
    text-align: center;
    background-color: #EFF0F0;
    color: #31371B;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

header h1{
    font-family: 'Caveat', cursive;
    font-size: 40px;
}
header nav ul{
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    list-style-type: none; 
    padding: 20px;
}

header nav ul li a {
    text-decoration: none; 
    color: #31371B;
}

header nav ul li a:hover {
    color: #9F9460;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
}
.mySlides img {
    width: 50%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.mySlides img {
    width: 600px;
    height: 400px;
    border-radius: 50px;
    
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*--------------管理者マイページ------------------*/
.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.table-container {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
}
 .container {
    width: 100%;
    height: 200px;
    display: flex;
  }
  .body {
    width: 80%;
 
  }
  .side {
    width: 20%;

  }
